{
    "presets": [
        ["@babel/env", {"modules": false}],
        ["@babel/react"]
    ],
    "env": {
      "test": {
        "plugins": [["styled-components", { "ssr": true, "displayName": true, "preprocess": false }], "transform-flow-comments"],
        "presets": [["@babel/env"], "@babel/react"]
      }
    }
    
}